.vs/BlockBreaker/v15/.suo
	.vs/BlockBreaker/v15/Server/sqlite3/storage.ide-shm
	.vs/BlockBreaker/v15/Server/sqlite3/storage.ide-wal
	obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
	obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
.vs/BlockBreaker/v15/.suo
	.vs/BlockBreaker/v15/Server/sqlite3/storage.ide-shm
	.vs/BlockBreaker/v15/Server/sqlite3/storage.ide-wal
	obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
	obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
.vs/BlockBreaker/v15/.suo
